<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="config2.xml"/>
    <bean name="game" class="com.sukhee.eacourse.labs.Game" destroy-method="destroy">
        <constructor-arg ref="vehicle"/>
    </bean>
    <bean id="car" class="com.sukhee.eacourse.labs.CarFactory" />
</beans>
